In [55]:
import json
import pandas as pd
from pandas.io.json import json_normalize

In [95]:
# Function to extract the category ids used in the other notebooks
def extract_cat_id(file_path):
    # Load json file
    with open(file_path) as js:
        d = json.load(js)
    # Normalize nested dict, and drop irrelevant cols
    df = json_normalize(d['items'])
    df_items = df.drop(columns=['kind', 'etag', 'snippet.channelId', 'snippet.assignable'])
    return df_items

In [75]:
us_cats = extract_cat_id('../data/US_category_id.json')
us_cats.head()

   id     snippet.title
0   1  Film & Animation
1   2  Autos & Vehicles
2  10             Music
3  15    Pets & Animals
4  17            Sports

In [76]:
ca_cats = extract_cat_id('../data/CA_category_id.json')
ca_cats.head()

   id     snippet.title
0   1  Film & Animation
1   2  Autos & Vehicles
2  10             Music
3  15    Pets & Animals
4  17            Sports

In [77]:
gb_cats = extract_cat_id('../data/GB_category_id.json')
gb_cats.head()

   id     snippet.title
0   1  Film & Animation
1   2  Autos & Vehicles
2  10             Music
3  15    Pets & Animals
4  17            Sports

In [96]:
# Function to print the number of trending categories
for specified country
def cat_count(df, country_name):
    print(country_name + ": " + str(len(df)) + " trending categories")

In [90]:
cat_count(us_cats, "United States")

United States: 32 trending categories

In [91]:
cat_count(ca_cats, "Canada")

Canada: 31 trending categories

In [92]:
cat_count(gb_cats, "Great Britain")

Great Britain: 31 trending categories

### Insight: All three countries have about the same number of trending categories, with the US having one more than Canada and Great Britain.

In [150]:
# Function to see which categories are trending in one country but not the other; indicates trending country
def trending_cat_diff(df_country1, df_country2):
    diff = df_country1.merge(df_country2, how='outer', indicator=True).loc[lambda x : x['_merge'] != 'both']
    return diff

In [151]:
trending_cat_diff(us_cats, gb_cats)

    id          snippet.title     _merge
16  29  Nonprofits & Activism  left_only

In [152]:
# Function to check previous diff func
def trending_cat_diff2(df_country1, df_country2):
    diff = pd.concat([df_country1,df_country2]).drop_duplicates(keep=False)
    return diff

In [135]:
trending_cat_diff2(us_cats, gb_cats)

    id          snippet.title
16  29  Nonprofits & Activism

In [153]:
trending_cat_diff(us_cats, ca_cats)

    id          snippet.title     _merge
16  29  Nonprofits & Activism  left_only

In [154]:
trending_cat_diff(gb_cats, ca_cats)

Empty DataFrame
Columns: [id, snippet.title, _merge]
Index: []

### Insight: Nonprofits & Activism is a trending category in the US but not Canada and Great Britain. Futher, Candada and Great Britain have the same trending categories.